body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.54;
    color: #666;
    background-color: #fff;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
p{
	margin: 0;
}
img{
	width: 100%
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
th{
	font-size: 23px;
	padding-left: 20px !important;
}
td{
	padding: 20px !important;
}
.bg-primary{
	background-color: #29578c;
}
.pagination{
	margin: 0;
}
.advertisement_banner{
    margin-top: 35px;
}
/* .advertisement_banner a{} */
.advertisement_banner img{
    height: 70px;
    width: 500px;
    margin-left: 150px;}
.mainTitle{
    font-size: 23px !important;
    text-transform: uppercase !important;
    font-weight: 900 !important;
    color: #444;
    font-size: 30px !important;
    font-weight: 200 !important;
    padding-bottom: 20px;
}
.WhiteTitle{
    font-size: 23px !important;
    text-transform: uppercase !important;
    font-weight: 900 !important;
    color: #fff;
    font-size: 30px !important;
    font-weight: 200 !important;
    padding-bottom: 30px;
}


.paraTitle{
	width: 80%;
    text-align: center;
    margin: auto;
    padding-bottom: 17px;
    font-size: 18px;
}
.pdl-0{
	padding-left: 0;
}
.pdr-0{
	padding-right: 0;
}



/* top header navbar */

.top_header_navbar{
	background-color: #29578C;
	padding: 5px 0;
}

/* Start top header area */
  .top_header_area{}
  .logo_area{
  	 width: 185px;
    height: 140px;
  }
  .logo_area img{
  	width: 100%;
  	height: 100%;
    margin-left: 18px;
  }

.social_icon{}
.social_icon ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.social_icon ul li{
	display: inline-block;
}
.social_icon ul li a{
	    display: block;
    /* padding: 5px 10px; */
    border: 1px solid #ccc;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    background-color: #ffffff;
    color: #2b6cb2;
    transition: all .5s;
}
.social_icon ul li a:hover{
	background-color: #2F64A3;
	transition: all .5s;
	color: #fff;
}
.menu_area{
	background-color: #29578c;
}
.menu_area .navbar-default {
    background-color: transparent;
    border-color: transparent;
    }
.menu_area .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px;
}
.menu_area .navbar-default .navbar-nav>li>a {
    color: #d5dee6;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600
}
.menu_area .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
    transition: all .5s;
}
.menu_area .navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}
.dropdown-menu{
	padding: 0;
	min-width: 250px;
	background-color: #fff;
}
.dropdown-menu>li>a {
    color: #29578c;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #29578c;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #29578c;
}
.search_area{
    padding-top: 32px;

}
.search_area .form-control{
       height: 40px;
       border-radius: 0;
}


#home-slider .item img{
	height: 100vh;
	background-position: center;
	background-size: cover;
}
.homeSlider_left{
	position: absolute;
    top: 30%;
    left: 100px;
    transform: translateY(-30%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 100px;
    text-align: center;
    transition: all .5s linear;
}
.homeSlider_right{
	position: absolute;
    top: 30%;
    right: 100px;
    transform: translateY(-30%); 
    color: #fff;
    font-size: 100px;
    text-align: center;
    transition: all .5s linear;
}
.news_left{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    /* transform: translateY(-30%); */
    width: 100px;
    height: 50px;
    color: #fff;
    font-size: 100px;
    text-align: center;
    transition: all .5s linear;
    height: 95%;
    padding-top: 150px;
    opacity: 1;
    transition: all .5s;

}
.news_right{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    /* transform: translateY(-30%); */
    width: 100px;
    height: 50px;
    color: #fff;
    font-size: 100px;
    text-align: center;
    transition: all .5s linear;
    padding-top: 150px;
    transition: all .5s;
}
.news_left:hover{
	opacity: 1;
	transition: all .5s;
}
.news_right:hover{
	opacity: 1;
	transition: all .5s;
}
.event_left{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    /* transform: translateY(-30%); */
    width: 100px;
    height: 50px;
    color: #fff;
    font-size: 100px;
    text-align: center;
    transition: all .5s linear;
    height: 95%;
    padding-top: 150px;
    opacity: ;
    transition: all .5s;

}
.event_right{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    /* transform: translateY(-30%); */
    width: 100px;
    height: 50px;
    color: #fff;
    font-size: 100px;
    text-align: center;
    transition: all .5s linear;
    height: 95%;
    padding-top: 150px;
    opacity: 1;
    transition: all .5s;
}
.event_left:hover{
	opacity: 1;
	transition: all .5s;
}
.event_right:hover{
	opacity: 1;
	transition: all .5s;
}

.teamSlider_right{
	position: absolute;
    top: -28px;
    right: 0;
     transform: translateY(-50%); 
    background-color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #29578c;;
    font-size: 20px;
    text-align: center;
    transition: all .5s linear;
}
.teamSlider_left{
	position: absolute;
    top: -28px;
    right: 58px;
     transform: translateY(-50%); 
    background-color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #29578c;
    font-size: 20px;
    text-align: center;
    transition: all .5s linear;
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
     position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.latest_news{
	height: 453px;
    overflow-y: scroll;
    overflow: hidden;
    border: 1px solid #ff5014;
    padding: 5px 10px;
    background-color: #fff
}
.title{
    background-color: #29578c;
    padding: 10px;
    font-size: 25px;
    color: #fff;
    padding-left: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.latest_news ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.latest_news ul li{
	margin-bottom: 10px;
}
.latest_news ul li a{
	color: #234b56;
	transition: all .5s linear;
	font-size: 17px;
}
.latest_news ul li a:hover{
	color: #000;
	transition: all .5s linear;
}
.latest_news ul li span{
	color: #ff5014;
	font-size: 12px;
}
.latest_news ul li:hover{}
.read_more{
	color: #555;
	display: inline-block;
	padding-left: 100px;
	padding-bottom: 30px;

}
/* End top header area */
.other_menu{}
.other_menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.other_menu ul li{

}
.other_menu ul li a{
	display: block;
    padding: 10px;
    background-color: #eee;
    margin-bottom: 2px;
    font-size: 14px;
    color: #555;
    transition: all .5s;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.other_menu ul li a:hover{
    background-color: #29578c;
    transition: all .5s;
    color: #fff
}

/* start about area */
 .about_area{
    padding-top: 50px;
    padding-bottom: 50px;
 }
 .about_content{}

 .about_content p{
 	color: #555;
    text-align: justify;
 }
 .about_img{
 	width: 100%;
    height: 500px;
    position: relative;
    margin-top: 8px;
 }
 .about_img img{
 	width: 100%;
 	height: 100%;
 }
 .video_icon{
 	position: absolute;
    top: 50%;
    left: 50%;
    color: #29578c;
    font-size: 30px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px #000;
 }
/* end about area */

/* start breaking news area */
  .fixed_news_bottom{
  	background-color: #2B6CB2;
  	overflow: hidden;
  	position: fixed;
    bottom: 0px;
    z-index: 99999;
    margin-bottom: 0;
    min-height: 40px;
  }
  .news_title{
  	background-color: #991000;
  }
  .news_title h4{
  	 padding: 11px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
  }
  .latest_news_list{
  /* 	background-color: #808080; */
    
  }
  .latest_news_list ul{
  	margin: 0;
  	padding: 0;
  	list-style: none;
  	white-space: nowrap;
  }
  .latest_news_list ul li{
  	display: inline-block;
  }
  .latest_news_list ul li i{

  }
  .latest_news_list ul li a{
  	display: block;
    color: #dec9c9;
    padding-top: 11px;
    margin: 0 5px 0 10px;
    font-size: 17px;
    transition: all .5s;
  }
  .latest_news_list ul li a:hover{
  	color: #fff;
  	transition: all .5s;
  }
/* end breaking news area */

/* start latest news */
 .latest_news_area{
 	padding-top: 50px;
    padding-bottom: 50px;
 }
 
 .single_news{
 	background-color: #EBEBEB;
 	margin-bottom: 30px;
 }
 .single_news img{
 	width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    transition: all .5s;
    transform: scale(.9, .9);
}
.single_news:hover img{
	transform: scale(1, 1);
	transition: all .5s;
}
 .single_news h4{
 	padding-top: 20px;
    padding-bottom: 7px;
    font-size: 25px;
    color: #212325;
    text-transform: capitalize;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
 }
 .single_news p{
 	padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
 }
 .single_news ul{
 	margin: 0;
 	padding: 0;
 	list-style: none;
 	text-align: center;
 }
 .single_news ul li{
 	color: #fff;
    font-size: 12px;
    border: 1px solid #fff;
    padding: 1px 2px;
    text-align: center;
    background: #29578c;
    display: inline-block;
    padding: 10px
 }
 .upcoming_events{
 	 background-image: linear-gradient(rgba(245, 245, 245, 0.4), rgba(245, 245, 245, 0.4)), url(../images/pattern-bg.webp);
    background-position: center;
    background-attachment: fixed;
 }
/* end latest news */

/* start gallery area */
.gallery_area{
	padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}
.single_gallery{
	margin-bottom: 30px;
}
.single_gallery img{
	width: 100%;
	height: 200px;
}
.single_gallery h4{
	padding-top: 5px;
}
.gallery_all{
	padding-top: 30px;
	padding-bottom: 50px;
}
.gallery-title{
    font-size: 36px;
    color: #29578c;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.filter-button{
    font-size: 18px;
    border: 1px solid #29578c;
    padding: 5px 10px;
    text-align: center;
    color: #29578c;
    margin-bottom: 30px;
    background: transparent;
}
.filter-button:hover,
.filter-button:focus,
.filter-button.active{
    color: #ffffff;
    background-color:#29578c;
	outline:none;
}
.gallery_product{
    margin: 0px;
	/* padding:0; */
	position:relative;
}
.gallery_product .img-info{
	position: inherit;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
	overflow:hidden;
	color:#fff;
	display:none;
	-webkit-transition:all .5s;
    transition: all .5s;
}

.gallery_product:hover .img-info{
	display:block;
   -webkit-transition: all .5s;
    transition: all .5s;
}

.single_pic{
	margin-bottom: 30px;
}
.video_area{
	padding-top: 50px;
	padding-bottom: 50px;
}
.single_video{
	position: relative;
    overflow: hidden;
}

.single_video img{
	height: 500px;
	position: relative;
}
.play_icon{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #235590;
    background-color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    border-radius: 100%;
    cursor: pointer;
}
.hoverable_content{
	position: absolute;
    bottom: 0%;
    background-color: rgba(0,0,0,.5);
    /* left: 50%; */
    /* transform: translateX(-50%); */
    color: #fff;
    text-align: center;
    height: 30%;
    width: 100%;
    transition: all .5s;
    padding-top: 10px;
    padding-bottom: 10px;
 
}
.single_video:hover .hoverable_content{
	height: 35%;
	transition: all .5s;
}
.hoverable_content h4{
	font-size: 25px;

}
.hoverable_content p{
	font-size: 20px;
}
.portfolio{
	padding-top: 50px;
	padding-bottom: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* min-height: 740px; */
}

/* end gallery area */


/* start team area */
 .team_area{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #29578c;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .team_info{
    text-align: center;
    border: 1px solid #9e8f8f;
    background-color: #fff;
    padding-bottom: 20px;
    transition: all .5s linear;
    position: relative;
    transition: all 1s;
    margin-bottom: 10px;
 }
/*  .team_info:hover .img-hover-effect img::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    transition: all 1s;
} */
 .img-hover-effect{
    width: 100%;
    height: 300px;
    overflow: hidden;
 }
 .img-hover-effect img{
    width: 100%;
    height: 100%;
    transition: all .5s;
 }
 .team_info:hover .img-hover-effect img{
    transform: scale(1.2);
    transition: all .5s;
 }
 
 
 .team_info h4{
    font-size: 25px;
    color: #333;
    padding: 10px 0px 7px 0px;
    transition: all .5s;
 }
 .team_info:hover h4{
    color: #991000;
    transition: all .5s;
 }
 .team_info h5{
    color: #5d5757;
    font-size: 20px;
    padding-bottom: 10px;
 }
/* end team area */

/* Partner area */
 .partner_area{
 	padding-top: 50px;
 	padding-bottom: 50px;
 }
/* End Partner area */
.media_area{
	padding-top: 30px;
	padding-bottom: 100px;
}
.media_area h4{
	font-size: 25px;
}
.media_icon{
	text-align: center;
	margin-top: 20px;
}
.media_icon ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.media_icon ul li{
	display: inline-block;
}
.media_icon ul li a{
	display: block;
    /* padding: 5px 10px; */
    background-color: #29578c;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    transition: all .5s;
    border: 1px solid #29578c;
    margin-right: 10px
}
.media_icon ul li a:hover{
   transition: all .5s;
   border: 1px solid #29578c;
   background-color: #fff;
   color: #29578c
}



/* welcome msg */
  .welcome_message_area{
  	padding-bottom: 50px;
  	
  }
  .wm_content{
  }
  .spech_area{}
  .spech_area img{
  	float: left;
    width: 130px;
    height: 136px;
    margin: 7px 22px 0px 0px;
  }
  .spech_area p{
  	text-align: justify;
  }
  .welcome_message_area{}
  .specher_name{
  	padding-top: 10px;
  }
  .facebook_feed{
  	margin-top: 10px;
  }
/* welcome msg */

/* mission statement */
 .wbw_effect{
 	background-color: #fff;

 }
 .wbw_effect h4{
 	padding-top: 20px;
 	padding-bottom: 15px;
 	font-size: 23px;
 	color: #252222
 }
 .wbw_effect p{
 	text-align: justify;
 }
 .wbw_effect blockquote{
   color: #000;
   text-align: justify;
 }
/* mission statement */


/* profile statement */
.small_navbar{
	background-color: #f1f1f1ff;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.small_navbar h4{
	padding-top: 5px;
	color: #333;
	font-weight: 900;
	font-size: 22px;
    text-transform: uppercase;
    padding-left: 10px;
}
.small_navbar span{
	text-align: right;
}
/* profile statement */

/* committee management */
 .single_member{
 	margin-bottom: 30px;
    border: 1px solid #b9acac;
    text-align: center;
    min-height: 300px;
    transition: all 1s;
 }
 .single_member img{
 	width: 100%;
 	height: 250px;
 }
 .single_member h4{
 	padding-top: 10px;
 	padding-bottom: 5px;
 }
 .single_member h5{
 	padding-bottom: 20px;
 	font-size: 20px;
 }
 .single_member:hover img{
 	transform: scale(.9);
 	 transition: all 1s;
 }
/* committee management */


/* circular */
.circular_area{
	padding-bottom: 50px;
}
.single_circular{
	border: 1px solid #a99f9f;
    padding: 20px;
    margin-bottom: 30px;
}
.single_circular img{
	width: 100px;
	padding-bottom: 10px;
}
.single_circular h4{
  color: #ff5014;
}
.single_circular a{}
/* circular */

/* gallery */
  .single_image{
  	margin-bottom: 30px;
  }
/* gallery */

/* road_event */
 .road_event{
 	padding-top:;
 }
/* road_event */

/* news area */
 .single_news_info{
 	background-color: #fff;
 	transition: all .5s;
 	border: 1px solid transparent;
 	margin-bottom: 10px;
 }
 .single_news_info:hover{
 	box-shadow: 0px 0px 10px 3px #ddd;
 	transition: all .5s;
 	border: 1px solid #ff5014
 }
 .single_news_info .media-heading{
 	color: #ff5014;
 	font-size: 20px;
 }
 .single_news_info .media-body p{
 	text-align: justify;
 }
 .single_news_info .media-body p a{
 	text-align: justify;
    background-color: #0c7a86;
    color: #fff;
    padding: 2px;
    font-size: 12px;
 }
/* news area */


/* calender area */
.calender_area{
	background-image: url(../images/slider/15.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
}
.nav.nav-pills{
	background-color: #fff
}
 .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #555;
}
.nav-pills>li>a {
    order-radius: 0px;
    color: #000;
    font-size: 20px;
    /* width: 173px; */
    /* padding: 20px; */
    text-transform: uppercase;
}
.tab-content{
	padding: 10px 0;
}
.tab-content table{
	background-color: #2b6cb2 !important;
	padding: 20px;
}
.tab-content table tbody td{
	font-size: 22px;
    color: #fff;
    padding: 30px;
}
.tab-content table th{
	    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    /* font-weight: 900; */
    /* font-family: 'Merriweather', serif; */
    padding-left: 20px !important;
}
/* calender area */



/* description page */
 .description_area{
 	padding-bottom: 100px;
 }
 .more_news .media{
 	border-bottom: 1px solid #ab9e9e
 }
/* description page */




/* contact us */
 .contact_area{
 	padding-bottom: 20px;
 }
 .form_area{
 	background-color: #2b6cb2;
    display: flow-root;
    padding: 12px;
    color: #fff;
    padding-top: 50px;
 }
 .form_area .btn-success{
 	    border: 0;
    border-radius: 0;
    background: #29578c;
    float: right;
    clear: right;
    height: 45px;
    width: 200px;
    font-size: 18px;
 }
 .item_box img {
    display: block;
    width: 100%;
    border: 4px solid #fff;
    transition: all .5s;
    height: 115px;
        border: 1px solid #d6bebe;
    padding: 10px;
}
/* contact us */













/* End footer area */
.mission_statement_area{
	padding-bottom: 50px;
}
.top_footer{
	background-color: #29578c;
	padding-top: 50px;
	padding-bottom: 30px;
}
 .company_info{}
 .company_info img{
 	width: 162px;
    height: 120px;
    margin-bottom: 0px;
    margin-left: 36px;
    -webkit-filter: brightness(50);
    filter: brightness(50);
    margin-top: -20px;

 }
 .company_info p{
 	padding-bottom: 15px;
    color: #fff;
    font-size: 16px;
    text-align: justify;
    padding-top: 0;
 }
 .footer_event,
 .footer_about,
 .footer_contact{
 	  padding-top: 20px;
 }
 .footer_event h4,
 .footer_about h4,
 .footer_contact h4{
 	color: #fff;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efeceb;
 }
 .footer_event ul,
 .footer_about ul,
 .footer_contact ul{
 	margin: 0;
 	padding:0;
 	list-style: none;
 	padding-top: 30px;
 }
 .footer_event ul li{}
 .footer_event ul li a,
 .footer_about ul li a,
 .footer_contact ul li a{
 	color: #fff;
    display: block;
    padding: 5px 0px;
    text-transform: capitalize;
    transition: all .5s;
 }
 .footer_contact table{
 	margin-top: 24px;
 }
 .footer_contact table td{
 	border-top: 0px !important;
 	color: #fff;
 	padding: 8px !important;

 }
 .footer_contact table{}
 
 .footer_event ul li a:hover{
 	color: #ff5014;
 	transition: all .5s;
 }
 .footer_about ul li a:hover{
 	color: #ff5014;
 	transition: all .5s;
 }
 .footer_contact ul li a:hover{
 	color: #ff5014;
 	transition: all .5s;
 }

 .bottom_footer{
 	background-color: #29578c;
    padding: 15px;
    border-top: 1px solid #c1afafb8;
 }
 .copyright{
 	color: #fff;
 	text-align: left;
 }
 .design{
 	color: #fff;
 	text-align: right;
 }
 .btn-orange{
 	background-color: #e5e5e5;
    color: #ff612b !important;
    border: 1px solid brown;
    border-radius: 0;
    height: 50px;
    /* line-height: 40px; */
    width: 164px;
    font-size: 23px;
    font-weight: 900;
 }
 .btn-orange:hover{
 	background-color: #e5e5e5;
 }
/* End footer area */


.footer_contact table td i{
	    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    padding: 2px;
    line-height: 26px;
    text-align: center;
}

.bg-success {
    background-color: #2b6cb2;
    color: #fff;
}
.table-hover>tbody>tr:hover {
    background-color: #29578c;
    color: #fff;
}

@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
}
  .small_navbar span{
  	display: none;
  }

}